{% extends 'estate/navbar.html' %}
{% load static %}

{% block content %}

<div id="wrapper" class="home-page"> 

	<!-- end header -->
	<section id="banner">
	 
	<!-- Slider -->
	<div id="demo-1" data-zs-src="{% static 'img/photos/img1.jpg' %}" data-zs-overlay="dots">
		<div class="demo-inner-content">
			<h1><span>HillSide</span></h1><br/>
			<p>World class Real estate Venture</p>
		</div>
	</div>
	
	<!-- end slider --> 
	</section>  
		<section class="projects">
		<div class="container">
	 	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Our Featured Projects</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, <br/>doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
				<br/>
				<div class="w-25 p-3">
					<form class="d-flex w-25" role="search" method="post" action="{% url 'search' %}">
						{% csrf_token %}
							<input class="form-control me-2 w-75" type="search" placeholder="Search" aria-label="Search" name="q">
							<button class="btn btn-outline-success" type="submit">Search</button>
						
					</form>
				</div>
			</div>
		</div>
		
	<div class="row service-v1 margin-bottom-40">
		{% for house in houses %}
            <div class="col-md-4 md-margin-bottom-40">
				
					<div class="card small">
						
                        <div class="card-image">
                             <img class="img-responsive" src={{house.image.url}} alt="">   
                        </div>
                        <div class="card-content"> 
                            <p>
                                <span class="price">${{house.price}}</span>
								<h4>{{house.name}}</h4>
								<h5>{{house.adress}}</h5>
								<a href="{% url 'detail' house.id %}" class="btn btn-details">Details</a>
                            </p>
                        </div>
						
                    </div>   
					   
            
			         
        	</div>
			{% endfor %}  
		
    	
	</div>
		</section>
		
	<section id="content"> 
	<div class="container">
	
		<section class="services">
	    	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Amenities</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, <br/>doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
				<br/>
			</div>
		</div>

	 <div class="row">
            <div class="col-sm-4 info-blocks"> 
				<i class="icon-info-blocks material-icons">track_changes</i>
                <div class="info-blocks-in">
                    <h3>Kids Play Area</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">settings_input_svideo</i>
                <div class="info-blocks-in">
                    <h3>GYM</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">queue_music</i>
                <div class="info-blocks-in">
                    <h3>Running Track</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div>
<div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">my_location</i>
                <div class="info-blocks-in">
                    <h3>Swimming</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">shuffle</i>
                <div class="info-blocks-in">
                    <h3>Club House</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">tab_unselected</i>
                <div class="info-blocks-in">
                    <h3>24/7 Security</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div>
		</section>
	</div>
	</section>
	
	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Our Team</h2>
						<p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
					</div>
				</div>
			</div>
			<div class="row">
			
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<img src="{% static 'img/about.jpg'%}" alt="About Images">
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
					<h3>About Us</h3>
						<p>Grids is a responsive Multipurpose Template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
						<p>Grids is a responsive Multipurpose Template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
						<a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section>	  
	

	
{% endblock  %}

